<nav class="flex items-center gap" style="--column-gap: .25rem; --btn-padding: .375rem .75rem" aria-label="Pagination">

<%= form_with url: request.path, method: :get, local: true, data: { turbo_frame: "items" } do |form| %>
  <div class="field">
    <%#= form.label :items, "Items:", class: "text-sm leading-none" %>
    <%= form.select :items, options_for_select([10, 20, 50, 100], params[:items].presence || 10), {}, { class: "btn", onchange: "this.form.submit();" } %>
  </div>
<% end %>

  <div class="join" aria-label="Pages">
    <% if pagy.prev %>
      <%= link_to pagy_url_for(pagy, pagy.prev), class: "btn btn--borderless", aria: { label: "Previous" } do %>
        <%= image_tag "chevron-left.svg", size: 16, aria: { hidden: true } %>
        <span>Previous</span>
      <% end %>
    <% else %>
      <%= link_to "", class: "btn btn--borderless", aria: { label: "Previous", disabled: true } do %>
        <%= image_tag "chevron-left.svg", size: 16, aria: { hidden: true } %>
        <span>Previous</span>
      <% end %>
    <% end %>

    <% pagy.series.each do |item| %>
      <% if item.is_a? Integer %>
        <%= link_to pagy_url_for(pagy, item), class: "btn btn--borderless" do %>
          <%= item %>
        <% end %>
      <% elsif item.is_a? String %>
        <%= link_to "", class: "btn btn--primary", aria: { current: "page" } do %>
          <%= item %>
        <% end %>        
      <% elsif item == :gap %>
        <%= link_to "", class: "btn btn--borderless", aria: { disabled: true } do %>
          <span>...</span>
        <% end %>

      <% end %>
    <% end %>

    <% if pagy.next %>
      <%= link_to pagy_url_for(pagy, pagy.next), class: "btn btn--borderless", aria: { label: "Next" } do %>
        <span>Next</span>
        <%= image_tag "chevron-right.svg", size: 16, aria: { hidden: true } %>
      <% end %>
    <% else %>
      <%= link_to "", class: "btn btn--borderless", aria: { label: "Next", disabled: true  } do %>
        <span>Next</span>
        <%= image_tag "chevron-right.svg", size: 16, aria: { hidden: true } %>
      <% end %>
    <% end %>
  </div>
</nav>

