<% is_show_action = controller.action_name == 'show' %>

<header class="justify-between" id="header">
      <div class="flex">
        <h1 class="font-bold text-3xl"><%= controller.action_name.capitalize %> Customer</h1>
      </div>

      <div class="flex gap">
        <%= button_tag class: "btn", data: { controller: "navigation", action: "navigation#back:prevent" } do %>
          <%= icon "undo-2", size: 16, aria: { hidden: true } %>
          <span>Go back</span>
        <% end %>

        <% if is_show_action %>
          <div class="flex items-center">
              <%= link_to modals_confirm_deletion_path(record_type: @customer.class.name, id: @customer.id),
                title: "Delete with modal", class: "btn",
                data: { turbo_frame: "modal" }, tabindex: "-1", role: "option" do %>
                <%= icon "trash-2", size: 16, aria: { hidden: true } %>
                <span>Delete</span>
              <% end %>
              <%= turbo_frame_tag "modal"%>              
          </div>
        <% end %>

        <%= button_tag class: "btn", aria: { disabled: true } do %>
          <%= icon "arrow-down", size: 16, aria: { hidden: true } %>
          <span>Actions</span>
        <% end %>        
      </div>
</header>

<%= form_with model: customer, class: "flex flex-col gap", data: { controller: "form" } do |form| %>

  <div class="flex flex-col gap-half">
    <%= form.label :first_name, class: "text-sm font-medium leading-none" %>
    <%= form.text_field :first_name, rows: 10, class: "input", disabled: is_show_action %>

    <%= form.label :last_name, class: "text-sm font-medium leading-none" %>
    <%= form.text_field :last_name, rows: 10, class: "input", disabled: is_show_action %>

    <%= form.label :email, class: "text-sm font-medium leading-none" %>
    <%= form.text_field :email, rows: 10, class: "input", disabled: is_show_action %>

    <%= form.label :phone, class: "text-sm font-medium leading-none" %>
    <%= form.text_field :phone, rows: 10, class: "input", disabled: is_show_action %>

    <%= form.label :country, class: "text-sm font-medium leading-none" %>
    <%= form.text_field :country, rows: 10, class: "input", disabled: is_show_action %>
  </div>

  <% unless is_show_action %>
    <div class="flex items-center">
      <%= form.submit "Save changes", class: "btn btn--primary" %>
    </div>
  <% end %>
<% end %>