<div class="flex flex-col p-4">
  <div class="flex flex-col mbe-4">
    <h2 class="text-2xl font-bold">Customers</h2>
  </div>

  <%= turbo_frame_tag :index_items do %>
    <%= search_form_for @search, class: "flex items-center gap mbe-4", data: { controller: "form" } do |form| %>
      <%= form.search_field :first_name_or_last_name_cont, placeholder: "Filter customers by name...", autocomplete: "off", class: "input", style: "max-inline-size: 250px" %>
      <%= link_to "Reset", customers_path, class: "btn btn--borderless show@md" if params.has_key?(:q) %>
    <% end %>
    <div class="relative i-full overflow-x-auto border rounded-lg mbe-4">
      <table class="table" data-controller="check-all">
        <thead>
          <tr>
            <th><%= check_box_tag :check_all, class: "checkbox", data: { action: "check-all#check", check_all_target: "dependee" } %></th>
            <th><%= sort_link(@search, :full_name, [ :first_name, :last_name ],  class: "flex items-center") %></th>
            <th><%= sort_link(@search, :email, class: "flex items-center") %></th>
            <th><%= sort_link(@search, :phone, class: "flex items-center") %></th>
            <th><%= sort_link(@search, :country, class: "flex items-center") %></th>
            <th><%= sort_link(@search, :ceated_at, class: "flex items-center") %></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @customers.empty? %>
            <tr><td colspan="6" class="text-center p-8">No Results.</td></tr>
          <% else %>
            <% @customers.each do |customer| %>
              <tr id="<%= dom_id(customer) %>">
                <td><%= check_box_tag "selected_ids[]", customer.id, class: "checkbox", data: { action: "check-all#check", check_all_target: "dependant" } %></td>
                
                <td class="whitespace-nowrap">
                  <div class="flex items-center gap">
                    <span class="badge">Badge <%= customer.id %></span>
                    <span><%= customer.full_name %></span>
                  </div>
                </td>

                <td class="whitespace-nowrap">
                  <div class="flex items-center gap">
                    <span><%= customer.email %></span>
                  </div>
                </td>

                <td class="whitespace-nowrap">
                  <div class="flex items-center gap">
                    <span><%= customer.phone %></span>
                  </div>
                </td>

                <td class="whitespace-nowrap">
                  <div class="flex items-center gap">
                    <span><%= customer.country %></span>
                  </div>
                </td>

                <td class="whitespace-nowrap">
                  <div class="flex items-center gap">
                    <span><%= customer.created_at.strftime("%d/%m/%Y %H:%M:%S") %></span>
                  </div>
                </td>

                <td>
                  <div class="flex items-center gap-half" id="actions">
                    <%# Show %>
                    <%= link_to customer_path(customer), 
                      title: "Show",
                      class: "btn command__item",
                      data: { value: "customer", turbo: false } do %>
                      <%= icon "eye", size: 14, aria: {hidden: false, label: "Aria2"} %>
                    <% end %>

                    <%# Edit %>
                    <%= link_to edit_customer_path(customer),
                      title: "Edit", 
                      class: "btn command__item", 
                      data: { value: "customer", turbo: false } do %>
                      <%= icon "pencil", size: 14 %>
                    <% end %>

                    <%# Destroy %>
                    <%= link_to customer_path(customer), class: "btn command__item",
                      data: { 
                        turbo_method: :delete, 
                        turbo_confirm: "Are you absolutely sure?" } do %>
                      <%= icon "trash-2", size: 14 %>
                    <% end %>
                  </div>
                </td>

              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: 'shared/pagination_with_numbers', locals: { pagy: @pagy } %>
    <%# <hr class="mb-4 border-dark"> %>
    <%#= render partial: 'shared/pagination_with_arrows', locals: { pagy: @pagy } %>

  <% end %>
</div>

